# Python cache
__pycache__/
*.py[cod]
*.pyo
web/src/config.js
desktop/config.py
desktop/__pycache__


# Virtual environment
venv/
env/

# Environment variables / secrets
*.env
.env

# IDE stuff
.vscode/
.idea/

# Logs
*.log

# Bytecode
*.pyc

# Build files
build/
dist/
*.egg-info/

# Database / local storage
db.sqlite3

# OS files
.DS_Store
Thumbs.db
